* {
	font-family: "Roboto", sans-serif;
}

h1, h2 {
	font-family: "Montserrat", sans-serif;
}

img {
	height: 250px;
	width: 250px;
}

#landing {
	/* relative unit of measurement; vh - viewport height; viewport = screen */
	height: 80vh;
	/*flex - flex box*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#gallery {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 75vh;
	border-radius: 6px;
}

/*padding - space around objects*/
ul {
	list-style: none;
	padding: 0;
}

h2 {
	color: #007bff;
}

.tools {
	height: 200px;
	padding: 25px;
	border: 5px solid #f2f2f2;
	margin: 20px;
	width: 75%;
}

html {
	scroll-behavior: smooth;
}

.jumbotron {
	background-color: transparent;
}

